{% extends "base.html" %}

{% block content %}
  <h1 class="text-center text-danger">Welcome to Student Enrollment System</h1>
  <hr>
  <h3 class="text-center text-primary">Home Page</h3>
  <!-- <p>This is the home page.</p> -->
   <hr>
 <div style="text-align:center; width:50%; margin:auto; border:1px solid #333; padding:20px; border-radius:10px; font-family:Arial;">
    <h3>Course Information</h3>
    <ul style="list-style:none; padding:0;">
        <li><strong>Course Code:</strong> CSE 450</li>
        <li><strong>Course Name:</strong> Python Base Project</li>
        <li><strong>Course Instructor:</strong> Golam Daiyan</li>
    </ul>
    <h4>Submitted By:</h4>
    <ul style="list-style:none; padding:0;">
        <li><strong>Name:</strong> Kazi Ibtisum Wasit</li>
        <li><strong>ID:</strong> 231002522E</li>
        <li><strong>Section:</strong> 8DCSE</li>
    </ul>
</div>

{% endblock %}
