{% extends "base.html" %}
{% block content %}
<h2>Student List</h2>
<table border="1" cellpadding="8" style="text-align:center; width:50%; margin:auto; border:1px solid #333; padding:20px; border-radius:10px; font-family:Arial;">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Course</th>
        <th>Date Joined</th>
    </tr>
    {% for student in students %}
    <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.course }}</td>
        <td>{{ student.date_joined }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
