<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Home</title>
</head>
<body>
      <h1>This is home page</h1>
      <p>This is home page by default <br>
            firstly when runserver it's give server link then open this server<br>
            hits on project urls.py file then it's redirect to app urls.py file<br>
            then it's redirect to views.py file and return the response to templates file<br>
            then it's render the html file and show the output on browser.
      </p>

</body>
</html>